
*{
    margin: 0;
    padding:0;
}
.a{
height: 500px;
width:350px;
background-color: rgb(195, 195, 219);
border-radius: 50px;
display: grid;
grid-template-rows: 1fx 1fx;
position: absolute;


}

.pic{
    width: 100%;
    height: 70%;
    border-top-left-radius: 50px;
    border-top-right-radius:50px ;
}
.a img:nth-child(2){
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 95px;
    border: 2px solid white;
}
.main{
    height:100vh;
    width:100vw;
    
    
     /* background-size: contain; */
    background-repeat: no-repeat;
    position:absolute;

}

.img{
    height:100%;width:100%;

}
.card{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:650px;
 }
 .b{
    height: 50px;
    width: 100px;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    margin-left: 36%;
    margin-top: 90px;
 }
.row1{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    font-size: 30px; 
    margin-top: 60PX;  
}
.row2{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    font-size: 10px;   
}